body{
	background-color: black;
	color: white;

	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:normal;
	/* Same as above */
	font: normal 16px Arial, Helvetica, sans-serif;

	line-height:1.6em;
	margin:0;
}
div {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
animation-iteration-count: infinite
}

@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  17%  {background-color:orange; left:120px; top:0px;}
  34%  {background-color:yellow; left:240px; top:0px;}
  52%  {background-color:green; left:360px; top:0px;}
  69%  {background-color:blue; left:240px; top:0px;}
  86%  {background-color:purple; left:120px; top:0px;}
  100% {background-color:red; left:0px; top:0px;}
}
